@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0px;
}

main {
  padding: 0 0rem;
}

h2 {
  padding: 1rem 2rem;
  margin: 0;
}

h3 {
  margin-top: 3rem;
  font-size: 2rem;
}

h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}