@use "../utils/colors.scss";

.lieu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 0.5rem;
    background-color: colors.$GreyBackground;
    & i {
      font-size: 1.5rem;
    }
  }