@use "../utils/colors.scss";
@use "../utils/mixins";

.explorer {
    text-align: center;
    background-color: colors.$MidGrey;
    
    & p {
      font-size: 1.3rem;
    }

    h3 {
      margin: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    
    & button {
      @include mixins.base-button;
    }
  }

.loader {
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: disappear 1s;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}