@use "../utils/colors.scss";
@use "../utils/mixins";

.explorer {
    text-align: center;
    background-color: colors.$MidGrey;
    
    & p {
      font-size: 1.3rem;
    }

    h3 {
      margin: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    
    & button {
      @include mixins.base-button;
    }
  }