@use "../utils/box-shadow.scss";
@use "../utils/zoom.scss";
@use "../utils/colors.scss";

.explorer {
    text-align: center;
    
    & p {
      font-size: 1.3rem;
    }
    
    & button {
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 2rem;
      @include box-shadow.base-shadow;
      background-image: linear-gradient(to top, rgba(147, 86, 255, 0.9), rgba(255, 121, 218, 0.9));
      transition: transform 200ms;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    & button:hover {
      @include zoom.zoom;
      opacity: 0,9;
    }
  }