@use "../utils/box-shadow.scss";
@use "../utils/zoom.scss";
@use "../utils/colors.scss";

.explorer {
    text-align: center;
    background-color: colors.$MidGrey;
    
    & p {
      font-size: 1.3rem;
    }

    h3 {
      margin: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    
    & button {
      color: white;
      font-weight: 500;
      font-size: 1.1rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 2rem;
      @include box-shadow.base-shadow;
      background-image: linear-gradient(to top, rgba(147, 86, 255, 0.9), rgba(255, 121, 218, 0.9));
      transition: transform 200ms;
      margin-top: 2rem;
      margin-bottom: 3rem;
      
    }
    
    & button:hover {
      @include zoom.zoom;
      opacity: 0,9;
    }
  }