@use "../utils/colors.scss";
@use "../utils/mixins";

.explorer {
    text-align: center;
    background-color: colors.$MidGrey;
    
    & p {
      font-size: 1.3rem;
    }

    h3 {
      margin: 0;
      padding-top: 1.5rem;
      font-size: 25px;
      padding-bottom: 1.5rem;
    }
    
    & button {
      @include mixins.base-button;
      font-size: 1rem;
    }
  }

.loader {
  $animation-duration: 1.5s;
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  color: colors.$purple;
  inset: 0;
  z-index: 1;
  opacity: 0.8;
  animation: disappear 200ms $animation-duration forwards;
  transform-origin: top;
  i {
    animation: spin $animation-duration infinite linear;
  }
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}