@use "../utils/variables.scss";
@use "../utils/colors.scss";
@use "../utils/mixins";


#homepage{

.menus {
    background-color: #f6f6f6;
    padding-bottom: 4rem;

    h2 {
        padding-top: 3rem;
    }

    .menus_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;   
        margin: 0.5rem 1rem 0rem 1rem;
        @media (max-width: variables.$breakpoint) {
            grid-template-columns: repeat(1, 1fr);         
        }
        .new {
            position: relative;
        }
        .new::before {
            content: "nouveau";
            position: absolute;
            height: 2.3rem;
            width: 6rem;
            background-color: colors.$color-tertiary;
            color: darken(colors.$color-tertiary, 45%);
            display: grid;
            place-items: center;
            right: 1rem;
            top: 1rem;
        }
    }

    .card {
        &_image {
            height: 14rem;
            border-radius: 1rem 1rem 0 0;
            background-size: cover;
            
            
        } 

        @for $i from 1 through 4 {
            &_image-#{$i} {
                background-image: url(../../assets/menu-#{$i}.jpg);
            }
        }
      &_description {
        @include mixins.heart-animated;
        @include mixins.base-shadow;

          p {
              padding-bottom: 1rem;
              padding-left: 1rem;
          }
          h4 {
              padding-top: 1rem;
              padding-left: 1rem;
              margin-bottom: 0.5rem;
          }
      }
    }
}
}