@use "../utils/mixins";
@use "../utils/variables.scss";
@use "../utils/colors.scss";

.tuto {
    counter-reset: steps;
    margin-bottom: 2rem;
    background: white;
    padding-bottom: 2rem;
    & ol {
        display: flex;
        gap: 2rem 2rem;
        border-radius: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0% 2%;
        @media (max-width: 1000px) {
            flex-direction: column;
            margin-left: 1rem;
        }
    }
    & li {
        display: flex;
        align-items: center;
        position: relative;
        width: 95%;
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: colors.$purple;
            display: grid;
            place-items: center;
            width: 2 * variables.$tuto-bullet-heighs;
            height: 2 * variables.$tuto-bullet-heighs;
            border-radius: 50%;
            position: absolute;
            bottom: 30%;
            left: -1 * variables.$tuto-bullet-heighs;
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include mixins.base-shadow;
        &:hover{
            @include mixins.zoom;
            background-color: colors.$lightpurple;
            i.fas {
                color : colors.$purple;
            }
        }
        & i.fas {
            margin-right: 1rem;
            color: colors.$lightgrey;
            font-size: 1.5rem;
        }
    }
}
