@use "../utils/mixins.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";
@use "../utils/animations.scss";

body {
    background-color: colors.$lightergrey;
}

h1 {
    margin: 0;
    font-size: 40px;
}

#page-resto {
    header {
        &:hover::before {
            @include mixins.zoom(1.20, translateY(-50%));
        }
            &::before {
                @include mixins.font-awesome($font-weight: 900);
                content: "\f060";
                cursor: pointer;
                left: 1rem;
                font-size: 20px;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 0.5s;
                }    
}

.banner img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center bottom;
}

.resto_title {
    margin-top: -2rem;
    h2 {
        font-family: "shrikhand", "sans-serif";
        padding: 2rem 1rem;
        @include mixins.heart-animated;
        background-color: colors.$lightergrey;
        border-radius: 2rem 2rem 0 0;
    }
}
.resto-main {
    padding: 0 1rem;
}
.menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
    @media (max-width: variables.$breakpoint) {
        grid-template-columns: 1fr;
    }
    h3 {
       text-transform: uppercase;
       font-weight: 400; 
       position: relative;
       &::after {
           content: "";
           position: absolute;
           top: 1.6rem;
           left: 0rem;
           height: 0.25rem;
           width: 3rem;
           background-color: colors.$color-tertiary;
       }
    }
    .menus__category {
        overflow: hidden;
        
        .menu-item {
            $numberOfItems: 3;
            @for $i from 1 through $numberOfItems {
                &:nth-child(#{$i}) {
                    animation-delay: 100ms * $i;
                }
            }
            display: flex;
            border-radius: 1rem;
            overflow: hidden; 
            margin: 0.5rem;
            @include mixins.base-shadow;
            animation : appear 1s; 
            animation-fill-mode: both;
            .menu-item__prix {
                margin-left: auto;
                font-weight: 900;
                padding: 1rem;
                display: flex;
                align-items: flex-end;
            }
            .menu-item__description {
                padding: 1rem;  
                overflow: hidden;
                    h4,
                    p{
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            .menu-item__check {
                display: grid;
                place-items: center;
                flex-shrink: 0;
                background-color: colors.$color-tertiary;
                border-radius: 0 1rem 1rem 0;
                margin-right: -4rem;
                width: 4rem;
                transition: margin-right 0.5s;
                i {
                    display: grid;
                    place-items: center;
                    color : colors.$color-tertiary; 
                    background: white;
                    height: 2rem;
                    width: 2rem;
                    border-radius: 1rem;
                }
            }
            &:hover {
                cursor: pointer;
                .menu-item__check {
                    margin-right: 0;
                }
                i {
                    @include animations.spin;
                    animation: spin 0.75s ease-in-out;
            }
        }
        }
    }
}

    section.order{
        height: 20vh;
        display: grid;
        place-items: center;
        button {
            @include mixins.base-button;
        }
    }

h3 {
    font-size: 20px;
}
}